.login-from-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
  border: 1px solid #dce2e7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  padding: 35px 40px 60px 40px;

  & form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;

  & label {
    margin-top: 15px;
    gap: 5px;
  }

  & input {
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: solid 1px #9babb9;
    background-color: #ffffff;
    color: #475059;
    font-size: 14px;
  }
}

.login-form-context-links {
  display: flex;
  flex-direction: column;
}

.context-field {
  display: flex;
  margin-top: 15px;
}

.spacing-xss {
  margin-right: 5px;
}

:host ::ng-deep .p-button {
  font-size: 13px;
  float: right;
}
