<div class="from-container">
  <div class="form reset-password">
    <div class="app-logo prime-font">P</div>
    <h2 class="prime-font">{{ title }}</h2>
    <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
      <div class="form-fields">
        <label class="prime-font" for="newPassword">New Password<span class="asterisk">*</span></label>
        <input #newPassword="ngModel" [(ngModel)]="resetPasswordDto.newPassword!" id="newPassword" name="newPassword" pInputText required="true" type="text"/>
        <div *ngIf="newPassword.touched && newPassword.invalid">
          <small class="p-invalid">Field is required</small>
        </div>

        <label class="prime-font" for="confirmPassword">Confirm Password<span class="asterisk">*</span></label>
        <input #confirmPassword="ngModel" [(ngModel)]="resetPasswordDto.confirmPassword!" id="confirmPassword" name="confirmPassword" pInputText required="true" type="text"/>
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
          <small class="p-invalid">Field is required</small>
        </div>
      </div>
      <div class="reset-password-form-btns">
        <p-button pRipple (click)="goToSignInPage()" label="Cancel" styleClass="p-button-outlined"></p-button>
        <p-button pRipple label="Submit" styleClass="p-button" [disabled]="resetPasswordForm.form.invalid" type="submit" ></p-button>
      </div>
    </form>
  </div>
</div>
