<div class="from-container">
  <div class="form reset-password">
    <div class="app-logo prime-font">P</div>
    <h2 class="prime-font">{{ title }}</h2>
    <form (ngSubmit)="initiateResetPassword()" #resetInitiationForm="ngForm">
      <div class="form-fields">
        <label class="prime-font" for="userNameOREmail">Username/Email<span class="asterisk">*</span></label>
        <input #userNameOREmail="ngModel" [(ngModel)]="usernameOrEmail!" id="userNameOREmail" name="userNameOREmail" pInputText required="true" type="text"/>
        <div *ngIf="userNameOREmail.touched && userNameOREmail.invalid">
          <small class="p-invalid">Field is required</small>
        </div>
      </div>
      <div class="reset-password-form-btns">
        <p-button pRipple (click)="goToSignInPage()" label="Cancel" styleClass="p-button-outlined"></p-button>
        <p-button pRipple label="Send Email" styleClass="p-button" [disabled]="resetInitiationForm.form.invalid" type="submit" ></p-button>
      </div>
    </form>
  </div>
</div>
